* { 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(to top, rgb(5, 160, 0),rgb(0, 171, 9));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 90px;
    opacity: 0.9;
    z-index: 7;
    box-shadow: 0 7px 12px 0 rgb(2, 120, 0);
    border-radius: 0 0 34px 34px;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 7px 25px;
}

.nav {
    margin: 0 auto;
}

.nav a {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    transition: all ease 0.3s;
    font-weight: 500;
}

.nav a:hover {
    color: rgb(136, 255, 120);
}

/* .phone-number {
    margin-right: 25px;
    font-size: 22px;
    color: rgb(255, 255, 82);
} */

.audio {
    margin: 7px 25px 7px 25px;
    border-radius: 25px;
}

.mobile-open{
    display: none;
    height: 45px;
    width: 45px;
    margin: 7px 25px 7px 25px;
}

.mobile-open img{
    height: 100%;
    width: 100%;
}

.mobile-menu {
    display: none;
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
  
#mobile-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: all ease 0.7s;
}
  
#mobile-container:target {
    visibility: visible;
    opacity: 1;
}

.mobile-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.7);
}

.mobile-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 430px;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(36, 145, 43, 0.93),rgba(25, 144, 80, 0.93));
    box-shadow: 0 3px 7px 2px rgba(0,255,119,0.3);
    border-radius: 3000px;
}

.mobile-close {
    position: absolute;
    z-index: 11;
    top: 7px;
    right: 7px;
}

.mobile-close img {
    height: 40px;
    transition: all ease 0.7s;
}

.mobile-close img:hover {
    transform: rotate(90deg);
}

.mobile-nav {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
}

.mobile-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
}

#main{
    height: 100vh;
    width: 100%;
    padding-top: 90px;
    display: flex;
    background: linear-gradient(to top, rgb(255, 255, 255, 0.3),rgba(0, 160, 0, 0.3));
}

.main-img1 {
    display: none;
    border-radius: 160px;
    box-shadow: 0 7px 25px 0 #5959597e;
    animation: both fadeIn 3s;
}

.main-img2 {
    width: 610px;
    border-radius: 160px;
    box-shadow: 0 7px 25px 0 #5959597e;
    animation: both fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

#main div{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-header{
    font-size: 40px;
    color: rgb(0, 160, 0); 
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.main-text{
    font-size: 30px;
    text-align: center;
    margin: 25px;
    font-weight: 500;
}

.text{
    font-size: 25px;
    text-align: justify;
    margin: 25px 25px 0 25px;
}

.contact-button{
    margin-top: 30px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    background: linear-gradient(to right,  #2fe556 , #fc3e57);
    box-shadow: 0px 5px 25px 4px rgba(0, 138, 39, 0.3);
    transition: all ease 0.3s;
}

.contact-button:hover {
    box-shadow: 0px 5px 25px 4px rgba(0, 255, 72, 0.3);
    transform: scale(1.1);
}

.contact-button:active {
}

#contact-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 20;
    transition: all ease 0.7s;
    overflow-y: auto;
}

#contact-container:target {
    visibility: visible;
    opacity: 1;
}  

.contact-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    cursor: default;
    background-color: rgba(247, 244, 244, 0.9);
}

.contact-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(5, 160, 0, 0.9),rgba(0, 171, 9, 0.9));
    box-shadow: 0 7px 12px 0 rgb(2, 120, 0);
    border-radius: 12px;
    color: white;
    padding: 30px;
} 

.contact-window h2 {
    margin: 0 12px;
    padding: 0 12px;
}

.contact-close {
    position: absolute;
    z-index: 21;
    top: 7px;
    right: 7px;
}

.contact-close img {
    height: 40px;
    transition: all ease 0.7s;
}

.contact-close img:hover {
    transform: rotate(90deg);
}

.contact-window div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container-header {
    font-size: 30px;
    margin: 12px;
}

.game-container {
    padding: 12px;
    margin: 0 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: #00911f;
    border: 2px solid #ffffff7e;
}

.game-container h1 {
    font-size: 25px;
}

.game-container h2 {
    margin: 12px;
}

.game-field {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff7e;
    border-radius: 12px;
    margin: 20px auto;
    position: relative;
    background-image: url(img/moipark.jpg);
    background-size: cover;
}

.garbage {
    width: 50px;
    height: 50px;
    background-image: url(img/musor.png);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
    border-image: auto;
}

.timer {
    font-size: 20px;
    margin: 12px;
}

.score {
    font-size: 25px;
}

.game-button {
    margin-top: 12px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #32e156;
    box-shadow: 0px 5px 25px 4px rgba(0, 138, 39, 0.3);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.game-button:hover {
    background: #f44457;
    box-shadow: 0px 5px 25px 4px #f444565d;
}

#about{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 10%,rgba(0, 160, 0, 0.2) 70% 84%,rgba(255, 255, 255, 0.2) 100%);
}

.we-help {
    color: #f70f2e;
    font-weight: 700;
}

.description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}

.description-text{
    margin: 0 70px 25px 70px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 30px;
}

.img-container a {
    transition: all ease 0.3s;
}

.img-container a:hover {
    transform: scale(1.1);
}

.img-container img{
    margin: 20px;
    border-radius: 30px;
    width: 430px;
    height: 300px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

#ecological-restoration{
    padding: 70px 30px 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(255, 255, 255, 0.3) 10%,rgba(0, 160, 0, 0.2) 30% 100%);
}

#factories p{
    font-size: 30px;
}

.factories{
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.factories-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}


.factories-text{
    margin: 40px;
}

.factories img{
    width: 600px;
    border-radius:30px;
    margin-top: 40px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

.cars{
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.cars-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}


.cars-text{
    margin: 40px;
}

.cars img{
    width: 600px;
    border-radius:30px;
    margin-top: 40px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

.ecology{
    width: 100%;
    display: flex;
    align-items: center;
}

.ecology img{
    width: 600px;
    border-radius:30px;
    margin: 50px;
    box-shadow: 0 7px 25px 0 #ffffff7e;
}

.ecology-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}

.ecology-text{
    width: 50%;
    margin: 50px;
}

.volunteering{
    width: 100%;
    display: flex;
    align-items: center;
}

.volunteering-text{
    width: 50%;
    margin: 40px;
}   

.volunteering img{
    width: 600px;
    border-radius:30px;
    margin: 40px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

.reserve{
    width: 100%;
    display: flex;
    align-items: center;
}

.reserve img{
    width: 600px;
    border-radius:30px;
    margin: 40px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

.reserve-text{
    width: 50%;
    margin: 40px;
}

.reclamination{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reclamination-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}

.reclamination img {
    width: 700px;
    border-radius:30px;
    margin-top: 40px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

.reclamination-text {
    margin: 40px;
}

.fauna{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fauna-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}

.fauna img{
    width: 500px;
    border-radius:30px;
    margin-top: 40px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

.fauna-text {
    margin: 40px;
}

.fauna-problems{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.fauna-problems-text{
    width: 50%;
    margin: 40px;
}   

.fauna-problems img{
    width: 600px;
    border-radius:30px;
    margin: 0 50px 50px 50px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

.fauna-problems-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}

.fauna-solution{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.fauna-solution-header{
    font-size: 40px;
    color: rgb(5, 160, 0);
    text-align: center;
}

.fauna-solution-text{
    width: 50%;
    margin: 40px;
}   

.fauna-solution img{
    width: 600px;
    border-radius:30px;
    margin: 40px;
    box-shadow: 0 7px 25px 0 #5959597e;
}

#footer {
    width: 100%;
    border-radius: 0 0 12px 12px;
}

.footer-wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 0 12px 12px;
    background: linear-gradient(to top, rgb(4, 127, 0),rgb(0, 210, 14));
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 7px;
    opacity: 0.9;
}

.copyright {
    transition: all ease-out 0.2s;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    margin: 12px;
    text-align: center;
}

.copyright:hover {
    color: rgb(136, 255, 120);
}

#creators-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: all ease 0.7s;
}

#creators-container:target {
    visibility: visible;
    opacity: 1;
}

.creators-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor:default;
    background-color: rgba(234, 234, 234, 0.9);
}

.creators-window {
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(5, 160, 0, 0.7),rgba(0, 188, 9, 0.7));
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 7px;
    border-radius: 25px;
}

.creators {
    width: 100%;
    font-size: 18px;
    overflow: auto;
    scrollbar-color:rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0);
    padding: 12px 25px 12px 12px;
    margin-top: 0;
}

.creators-close {
    position: absolute;
    z-index: 21;
    top: 7px;
    right: 7px;
}

.creators-close img {
    height: 40px;
    transition: all ease 0.7s;
}

.creators-close img:hover {
    transform: rotate(90deg);
}

@media screen and (max-width: 520px){

    .logo{
        margin: 7px 12px;
    }

    .nav{
        display: none;
    }

    .mobile-open{
        display: block;
        margin: 7px 12px 7px 12px;
    }

    .audio{
        width: 160px;
        height: 43px;
        margin: 7px 0 7px 0;
    }
    
    #main {
        flex-direction: column;
        height: auto;
    }

    #main div {
        width: 100%;
    }
    
    .main-header {
        margin-top: 70px;
    }

    .main-text {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 22px;
    }

    .main-img1 {
        display: block;
        width: 340px;
        height: 250px;
        border-radius: 90px;
    }

    .main-img2 {
        display: none;
    }

    .contact-window {
        top: 30px;
        transform: translate( -50%, 0);
        width: 90%;
    }

    .contact-window div {
        flex-direction: column;
    }

    .contact-window h2 {
        margin: 25px 12px;
        font-size: 20px;
    }

    .contact-button {
    }

    .img-container img {
        margin: 20px 0;
        width: 300px;
        height: 220px;
    }

    .text {
        margin-top: 30px;
        font-size: 20px;
    }

    .description-header {
        font-size: 30px;
        margin-bottom: 0;
    }

    .description-text {
       margin-left: 25px;
       margin-right: 25px;
    }

    .ecology {
        flex-direction: column-reverse;
        align-items: center;
    }

    .volunteering {
        flex-direction: column;
        align-items: center;
    }

    .factories {
        padding-bottom: 25px
    }

    
    .factories-header{
        font-size: 30px;
    }

    .factories img{
        width: 300px;
    }

    .factories-text{
        margin-left: 0;
        margin-right: 0;
    }

    .cars {
        padding-bottom: 25px;
    }

    .cars-header{
        font-size: 30px;
    }
    
    .cars-text{
        width: 100%;
    }
    
    .cars img{
        width: 300px;
    }

    .ecology-header {
        font-size: 30px;
    }

    .ecology-text{
        width: 100%;
        margin-top: 0;
    }

    .ecology img{
        margin:0 50px 50px 50px;
        width: 300px;
    }

    .volunteering-text {
        width: 100%;
    }

    .volunteering img {
        margin:0 50px 50px 50px;
        width: 300px;
    }

    .reserve {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .reserve-text {
        width: 100%;
    }

    .reserve img{
        margin:0 50px 50px 50px;
        width: 300px;
    }

    .reclamination-header {
        font-size: 30px;
    }

    .reclamination-text {
        margin-left: 0;
        margin-right: 0;
    }

    .reclamination img {
        width: 300px;
    }

    .fauna-header {
        font-size: 30px;
    }

    .fauna img{
        width: 300px;
    }

    .fauna-text{
        margin-left: 0;
        margin-right: 0;
    }

    .fauna-problems{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .fauna-problems-text{
        width: 100%;
    }

    .fauna-problems-header{
        font-size: 30px;
    }

    .fauna-problems img{
        width: 300px;
    }

    .fauna-solution{
        flex-direction: column;
        align-items: center;
    }

    .fauna-solution img{
        margin: 0 50px 50px 50px; 
        width: 300px;
    }

    .fauna-solution-text{
        width: 100%;
    }

    .fauna-solution-header {
        font-size: 30px;
    }

    .creators-window {
        width: 90%;
    }
}

@media screen and (min-width: 520px) and (max-width: 750px ) {
    .nav{
        display: none;
    }

    .mobile-open{
        display: block;
    }

    .audio{
        margin: 7px 0 7px 0;
    }

    #main {
    flex-direction: column;
    height: auto;
    }

    #main div {
    width: 100%;
    }

    .main-header {
        margin-top: 120px;
    }

    .main-text {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 22px;
    }

    .text {
        margin-top: 52px;
        font-size: 20px;
        flex-direction: column;
    }

    .contact-button {
    }

    .main-img1{
        display: block;
        width: 450px;
        border-radius: 120px;
    }

    .main-img2{
        display: none;
    }

    .contact-window {
        width: 75%;
        top: 30px;
        transform: translate( -50%, 0);
    }

    .contact-window div {
        flex-direction: column;
    }

    .contact-window h2 {
        margin: 25px 12px;
    }
    
    .video {
        width: 90%;
        height: 250px;
    }

    .description-text {
        margin-left: 25px;
        margin-right: 25px;
    }

    .factories-text{
        margin-left: 0;
        margin-right: 0;
    }

    .cars {
        padding-bottom: 25px;
    }

    .cars-text{
        margin-left: 0;
        margin-right: 0;
    }
    
    .cars img {
        width:450px;
    }

    .volunteering img {
        width: 450px;
    }

    .ecology img{
        width: 450px;
    }

    .factories img{
        width: 450px;
    }
    .reserve img{
        width: 450px;
    }

    .ecology {
        flex-direction: column-reverse;
        align-items: center;
    }

    .volunteering {
        flex-direction: column;
        align-items: center;
    }

    .ecology-text{
       width: 100%;
    }

    .volunteering-text{
        width: 100%;
    }

    .reserve{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .reserve-text{
        width:100%;
    }

    .reclamination img{
        width: 450px;
    }

    .fauna img{
        width: 450px;
    }
    .fauna-problems img{
        width: 450px;
        margin: 0 0 80px 0;
    }
    .fauna-solution img{
        width: 450px;
        margin: 0 0 80px 0;
    }

    .reclamination-text {
        margin-left: 0;
        margin-right: 0;
    }

    .fauna-text {
        margin-left: 0;
        margin-right: 0;
    }

    .fauna-problems{
        flex-direction: column-reverse;
        align-items: center;
    }

    .fauna-problems-text{
        width: 100%;
    }
    
    .fauna-solution{
        flex-direction: column;
        align-items: center;
    }
    
    .fauna-solution-text{
        width: 100%;
    }

    .ecology-header{
        width: 100%;
    }

    .creators-window {
        width: 90%;
    }
}

@media screen and (min-width: 750px) and (max-width: 1020px) {
    .logo{
        margin: 7px 5px 7px 25px;
    }

    #main {
        flex-direction: column;
        height: auto;
    }

    #main div {
    width: 100%;
    }

    .main-header {
        margin-top: 120px;
    }

    .main-text {
        margin-top: 52px;
    }

    .text {
        margin-top: 52px;
    }

    .main-img1{
        display: block;
        width: 500px;
        border-radius: 120px;
    }

    .main-img2{
        display: none;
    }

    .contact-button {
        margin-top: 52px;
    }

    .contact-window {
        width: 90%;
    } 

    .factories-text {
        width: 100%;
    }

    .cars-text{
        width: 100%;
    }

    .ecology{
        flex-direction: column-reverse;
        width: 100%;
    }
    .ecology-text{
        width: 100%;
    }

    .volunteering{
        flex-direction: column;
        width: 100%;
    }
    .volunteering-text{
        width: 100%;
    }

    .reserve{
        flex-direction: column-reverse;

    }
    .reserve-text{
        width: 100%;
    }

    .img-reclamation{
        width: 600px;
    }

    .fauna-problems{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .fauna-solution{
        flex-direction: column;
        align-items: center;
    }
    
    .fauna-problems-text{
        width: 100%;
    }
    .fauna-solution-text{
        width: 100%;
    }

    .creators-window {
        width: 70%;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
    #main {
        flex-direction: column;
        height: auto;
    }

    #main div {
        height: unset;
        width: 100%;
    }

    .main-header {
        margin-top: 120px;
    }

    .main-text {
        margin-top: 52px;
    }

    .text {
        margin-top: 52px;
        flex-direction: column;
    }

    .volunteering img{
        width: 400px;
        height: 300px;
    }

    .ecology img{
        width: 400px;
        height: 300px;
    }

    .factory img{ 
        width: 400px;
        height: 300px;
    }

    .reserve img{
        width: 400px;
        height: 300px; 
    }

    .mobile-open{
        display: none;
    }

    .main-img1{
        display: block;
        width: 500px;
        border-radius: 120px;
    }

    .main-img2{
        display: none;
    }

    .creators-window {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .main-img2{
        width: 500px;
        border-radius: 120px;
    }
}
